//= require bootstrap
//= require bootstrap-sprockets
//= require bootstrap-datepicker

//= require font-awesome/font-awesome

//= require_tree .
//= require_self

body {
  padding-top: 70px;
}

.cursor-pointer {
  cursor: pointer;
}

.pdfobject-container { height: 800px;}
.pdfobject { border: 1px solid #666; }
